@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Open+Sans&display=swap');



.wrapper {
    text-align: center;
    background-image: url(images/overlay.png), linear-gradient(
45deg
, #e37682 15%, #5f4d93 85%);
}

.titulo1 {
    color: white;
    font-size: 52px;
}
.start {
    color: white;
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: white;
    
}
