@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
img{
    max-width: 100%;
}
.title {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}




.inicio {
    text-align: center;
    padding: 10px;
}
.main {
    display: block; 

}

.logo img {
    border-radius: 70%;
    border:white 4px double;
    padding: 4px;
    display: block;
    box-sizing: border-box;
    
}

.menu {
    background-color: whitesmoke;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.listm{
    list-style: none;
    color:gray;
   background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px; 
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 100%;

}

.paises{
    text-decoration: none;
    color: gray;
}

.wrapper {
    width: 80%;
    margin: auto;
    background: rgb(253, 253, 253);
    text-align: center;
    

}

.maintext {
 display: block;
 text-align: center;
 
}

.text {
    font-family: 'Dancing Script', cursive;
   font-size: x-large;
    text-align: center;
}

.titleCt {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.line{
    margin: 40px 0 ;
    color: black;
}

.imag img{
    width: 80%;
}

@media (max-width: 780px) {
    .menu{
        text-align: center;
    }
    .listm {
        display: block;
        text-align: center;
    }
}
